.grid-container {
  border: 1px solid black;
  width: 300px;
  height: 300px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid black;
  width: 100px;
  height: 100px;
}
